BasedOnStyle:                      Google
AccessModifierOffset:              -4
ColumnLimit:                       100
ConstructorInitializerIndentWidth: 8
IndentWidth:                       4
ContinuationIndentWidth:           8
